footer.footer
  .section-container
    a.footer-logo-container.logo-container(href="#")
      img(src="/img/logo/logo_light.png", alt="amerilancers logo", class="footer__logo")
    .logos-container
      a(href="https://instagram.com/amerilancers", class="logo__link")
        img.icon-social(src="/img/icons/ui/instagram-logo.svg")
      a(href="https://facebook.com/amerilancers", class="logo__link")
        img.icon-social(src="/img/icons/ui/facebook-logo.svg")
    nav.footer-nav
      ul(class="footer-nav__list")
        li
          a(href=`${!home ? '/' : ''}#como-funciona`, class="footer-nav__link") Como funciona
        li
          a(href=`${!home ? '/' : ''}#beneficios`, class="footer-nav__link") Beneficios
        li
          a(href=`${!home ? '/' : ''}#nosotros`, class="footer-nav__link") Nosotros
        li
          a(href=`${!home ? '/' : ''}#testimonios`, class="footer-nav__link") Testimonios
        li
          a(href=`${!home ? '/' : ''}#faq`, class="footer-nav__link") FAQ
        li
          a(href=`${!home ? '/' : ''}#contacto`, class="footer-nav__link") Contacto
