extends base

block content
  link(rel="stylesheet", href="/css/freelancers.css")
  link(rel="stylesheet", href="/css/freelancersUncompleted.css")
  link(rel="stylesheet", href="/css/adminActions.css")
  section.section-freelancers.section-container
    header
      h2.heading-secondary Freelancers sin perfil completo
    .freelancers
      .freelancers__filter(style="display: none")
        form.form.form--freelancers__filter-uncompleted
          .freelancers__filter__inputs 
            .form__group
              label.form__label(for="profesion") Profesión
              input#profesion.form__input(name="profesion", type="text", value=`${query.profesion || ''}`)
            .form__group
              label.form__label(for="ciudad") Ciudad
              input#ciudad.form__input(name="ciudad", type="text", value=`${query.ciudad || ''}`)
            .form__group
              label.form__label(for="pais") Pais
              input#pais.form__input(name="pais", type="text", value=`${query.pais || ''}`)
            .form__group
              label.form__label(for="rating") Rating
              input#rating.form__input(name="rating", type="number", min="0", max="5", value=`${query.rating || ''}`)
            .form__group(style="display:none")
              label.form__label(for="page") Página N°
              input#page.form__input(name="page", type="number", min="1", value=`${query.page || 1}`)
          button#submitFormFiltersBtn.btn.btn-primary.btn-img-container(type="submit", data-last-page=`${totalPages}`) 
            span Filtrar
            img(src="/img/icons/ui/admin/funnel-bold.svg")
      .freelancers__container
        each freelancer in freelancers
            .freelancer
              .freelancer__text-box
                .freelancer__name= `${freelancer.name} ${freelancer.lastName}`
                if freelancer.occupation
                  .freelancer__work= `${freelancer.occupation.capitalize()}`
                .freelancer__info-box
                    a.freelancer__info-link(href=`mailto:${freelancer.email}`)
                      .icon-text-container.icon-text-container--email
                        img(src="/img/icons/ui/admin/envelope-simple.svg")
                        .freelancer__contacto= freelancer.email
                .freelancer__reg-date= `Registrado el ${freelancer.createdAt.getDate()}/${freelancer.createdAt.getMonth() + 1}/${freelancer.createdAt.getFullYear()}`
      .freelancers__footer
        .freelancers__pagination#freelancersPaginationContainer
          if query.page > 1
            button#firstPageBtn.btn.btn-primary.btn-img-container
              img(src="/img/icons/ui/pagination/caret-double-left-bold.svg")
            button#previousPageBtn.btn.btn-primary.btn-img-container
              img(src="/img/icons/ui/pagination/caret-left-bold.svg")
          if (query.page || 1) < totalPages
            button#nextPageBtn.btn.btn-primary.btn-img-container
              img(src="/img/icons/ui/pagination/caret-right-bold.svg")
            button#lastPageBtn.btn.btn-primary.btn-img-container
              img(src="/img/icons/ui/pagination/caret-double-right-bold.svg")


          
